<h2>Login</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && field.email.errors }" />
        <div *ngIf="submitted && field.email.errors" class="invalid-feedback">
            <div *ngIf="field.email.errors.required">Email richiesta!</div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && field.password.errors }" />
        <div *ngIf="submitted && field.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password richiesta!</div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> Login </button>
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </div>


</form>
