<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>
<!-- main app container -->
<div class="container">
  <div class="col-sm-6 offset-sm-3">
      <router-outlet></router-outlet>
    </div>
</div>
