<form (ngSubmit)="onSubmit()" [formGroup]="newItemForm">

     <div class="form-group">
        <label for="itemName">Titolo</label>
        <input type="text" formControlName="name" class="form-control">
    </div>

    <div class="form-group">
       <label for="itemDescription">Descrizione</label>
       <input type="text" formControlName="description" class="form-control">
   </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Salva</button>
        <a routerLink="/items" class="btn btn-link">Annulla</a>
    </div>

</form>
