<form (ngSubmit)="onSubmit()" [formGroup]="editItemForm">

	<span></span>

    <div class="form-group">
        <label for="name">Titolo</label>
        <input type="text" formControlName="name" class="form-control">
    </div>

		<div class="form-group">
        <label for="name">Descrizione</label>
        <input type="text" formControlName="description" class="form-control">
    </div>

    <div class="form-group">
        <button class="btn btn-primary" type="submit">Salva</button>
        <a routerLink="/items" class="btn btn-link">Annulla</a>
    </div>

</form>
