<!-- LIST OF ITEMS -->
<div class="row justify-content-md-center">
		<ul class="list-group">
			<li class="list-group-item list-group-item-action" *ngFor="let item of items" >
			      <span>{{item.name}}</span>

			      <div class="pull-right">
			          <button class="btn btn-primary btn-xs fa fa-pencil" (click)="onEdit(item.id)"></button>
			          <button class="btn btn-danger btn-xs fa fa-trash-o" (click)="onRemove(item.id)"></button>
			      </div>
			</li>

		</ul>
</div>

<!-- NEW ITEM -->
<div class="row justify-content-md-center">
		<nav>
			<a routerLink="/new-item" class="pull-right">Nuova attività</a>
		</nav>
</div>
